

.body-back-color {
    /*#ffc107*/
    color: #9ac100;
    
}

/*

a:hover {
    color: #FF00FF;
  }
nav >a:hover{
    color:#ffc107 ;
}
    */

.btn-color, .btn:hover {
    background-color: #9ac100;
    color:#fff;
    font-weight: bolder;


}

input:focus{
   border-color: #9ac100;
}



.vc_figure{
    display: inline-block;
    vertical-align: top;
    margin: 0;
    max-width: 100%;

}

.min-width{
    min-width: fit-content;
}

.card{
    margin-inline: 1rem;
    margin-bottom: 2rem;
    min-width: 290px;
    max-width: 330px;
}