:root {
    /*
    --body-background-color: #6494ed84;
    --box-width: 20rem;
    --box-height: 2rem;
    --border-radius: 1rem;
    --box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, .5);
    */
    --bs-border-color: #9ac100;
    --bs-txt-fore-color: #ffff;
    --bs-lbl-fore-color: red;
}

.body-back-color {
    /*#ffc107*/
    color: var(--bs-border-color);
    font-weight: bolder;
    
}

.validate-color{
color: var(--bs-lbl-fore-color);
}

/*

a:hover {
    color: #FF00FF;
  }
nav >a:hover{
    color:#ffc107 ;
}
    input:focus{
   border-color:  var(--bs-border-color);
}
    */

.btn-color, .btn:hover {
    background-color: var(--bs-border-color);
    color:var(--bs-txt-fore-color);
    font-weight: bolder;


}





.vc_figure{
    display: inline-block;
    vertical-align: top;
    margin: 0;
    max-width: 100%;

}

.min-width{
    min-width: fit-content;
}

.card{
    margin-inline: 1rem;
    margin-bottom: 2rem;
    min-width: 290px;
    max-width: 330px;
}

.border{
  border:    var(--bs-border-color);
}